body{
  font-family: 'Oswald', sans-serif;
  background:url('../img/bg.png');
  background-color:rgb(213,222,217);
  display:inline-block;
  margin:0;
  width:100%;
}
#frame{
}

.v1{
  border:solid 2px #383838;  
  display: inline-block;
  margin-left: 35px;
  margin-top: 11px;

}

.v2{
  /*width:700px;*/
  /*margin:0 auto;*/
  /*margin-top:auto;*/
  border:none;
  position:absolute; top:0; bottom:0; left:0; right:0;
			margin:auto; height:500px; width:700px;
}
header{
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 11px;
  width:700px;
}
header h1{
  margin:0;
  font-weight:400;
  font-size:36px;
  letter-spacing:5px;
}

header h1:hover{
  opacity:0.4;
  -webkit-transition:opacity 1s 0s ease-out;
}

header p{
  color:#3B3B3B;
  
  text-align:justify;
  font-weight:300;
}
nav{
  width:700px;
}
nav #prev{
  float:left;
}

nav #next{
  float:right;
}

header a{
  font-style:italic;
  color: rgb(35,35,35);
  font-weight:600;
}

header a:hover{
  opacity:0.8;
}
